[submodule "Packages/com.radioactivegoat.events"]
	path = Packages/com.radioactivegoat.events
	url = https://github.com/Radioactive-Goat/RG.Events.git
[submodule "Packages/com.radioactivegoat.dialoguesystem"]
	path = Packages/com.radioactivegoat.dialoguesystem
	url = https://github.com/Radioactive-Goat/RG.DialogueSystem.git
[submodule "Packages/com.radioactivegoat.tweening"]
	path = Packages/com.radioactivegoat.tweening
	url = https://github.com/Radioactive-Goat/RG.Tweening.git
[submodule "Packages/com.radioactivegoat.buildsystem"]
	path = Packages/com.radioactivegoat.buildsystem
	url = https://github.com/Radioactive-Goat/RG.BuildSystem.git
